<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Jobs | cameldridge.com</title>
    <meta charset="utf-8" />
    <style>
      pre { margin: 0; padding: 0 }
    </style>
  </head>
  <body>
    {% for job in jobs %}
    <div id="{{ job.id }}">
      <b>App:</b> {{ job.app|e }}
      <details>
        <summary>{{ job.summary|e }}</summary>
        <div>
          {% for line in job.output %}
          {% match line %}
          {% when OutputLine::Stdout with (line) %}
          <pre>{{ line }}</pre>
          {% when OutputLine::Stderr with (line) %}
          <pre style="color: #AA0000;">{{ line }}</pre>
          {% endmatch %}
          {% endfor %}
        </div>
      </details>
    </div>
    {% endfor %}
  </body>
</html>
